<div class="section">

    <div class="left">
      <div class="title">
        <h1>About</h1>
      </div>
      <div class="image">
        <img class="pa4" width="130" src="./Mascotte/unicorn_mascot.svg">
      </div>
    </div>
  
    <div class="text">
      <p>
        ServerlessDays Atlanta is a developer-oriented conference about <span class="line-break no-mobile"></span>
        serverless technologies.
      </p>
      <p>
        We are platform and technology agnostic and want to create a <span class="line-break no-mobile"></span>
        space where we can all learn new things about serverless! This <span class="line-break no-mobile"></span>
        is our first year hosting ServerlessDays in Atlanta, GA!
      </p>
      <p>
        We believe in and encourage practical sessions, in which developers <span class="line-break no-mobile"></span>
        share their experience and lessons from real-world projects.
       
      </p>
      <p>
        ServerlessDays Atlanta is part of ServerlessDays (formerly JeffConf), a <span class="line-break no-mobile"></span>
        global series of events around the world fostering communities around <span class="line-break no-mobile"></span>
        serverless technologies.
      </p>
      <p>
        We follow and enforce the Serverless Days Code of Conduct.
      </p>    
    </div>
  </div>
