<div class="section agenda" style="border: 0">

  <div class="header-button">
    <h1>Agenda </h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>

  <h2>Friday, February 22nd, 2019</h2>

  <h3>Morning</h3>

  <div class="row">

    <div class="coffee">
      <span>7:30 AM</span>
      <div><span>Registration &amp; Breakfast</span></div>
    </div>

    <div class="talk">
      <span>8:45 AM</span>
      <strong>Welcome &amp; Introduction</strong>
      <span>Conference Organizers</span>
    </div>

    <!---<div class="keynote" onclick="location='/talk-yan-cui.html'">-->
    <div class="keynote talk">
      <span>9:00 AM</span>
      <strong>Opening Keynote: TBD</strong>
      <span>TBD</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>

    <div class="talk">
      <span>10:00 AM</span>
      <strong>Talk 1: TBD</strong>
      <span>TBD</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>
  
    <div class="talk">
      <span>11:00 AM</span>
      <strong>Talk 2: TBD</strong>
      <span>TBD</span>
    </div>
  
    <div class="coffee lunch">
      <span>11:45 AM</span>
      <div><span>Lunch</span></div>
    </div>

  </div>

  <h3>Afternoon</h3>

  <div class="row">

    <div class="talk">
      <span>12:45 AM</span>
      <strong>Talk 3: TBD</strong>
      <span>TBD</span>
    </div>

    <div class="coffee">
        <div><span>Break</span></div>
    </div>

    <div class="talk">
      <span>1:45 PM</span>
      <strong>Talk 4: TBD</strong>
      <span>TBD</span>
    </div>

    <div class="coffee">
      <div><span>Snack Break</span></div>
    </div>

    <div class="talk">
      <span>3:00 PM</span>
      <strong>Talk 5: TBD</strong>
      <span>TBD</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>

    <div class="talk">
      <span>4:00 PM</span>
      <strong>Talk 6: TBD</strong>
      <span>TBD</span>
    </div>

    <div class="coffee">
      <div><span>Break</span></div>
    </div>

    <div class="keynote talk">
      <span>5:00 PM</span>
      <strong>Closing Keynote: TBD</strong>
      <span>TBD</span>
    </div>

    <div class="talk">
      <span>5:45 PM</span>
      <strong>Conference Closing</strong>
      <span>Conference Organizers</span>
    </div>
  
    <div class="coffee lunch">
      <span>6:00 PM - 9:00 PM</span>
      <div><span>Happy Hour</span></div>
  </div>

  </div>
</div>