<div class="section">
  <div class="left">
    <div class="title">
      <h1>Agenda</h1>
    </div>
    <div class="image">
      <img class="pa4" width="130" src="./Mascotte/owl_mascot.svg">
    </div>
  </div>

  <div class="text">
    <p>
      The ServerlessDays, DevOps Days & Map Camp combined conference agenda<span class="line-break no-mobile"></span>
      is located at <a href="https://www.devopsdays.org/events/2019-atlanta/welcome/ ">Atlanta DevOps Days</a>. <span class="line-break no-mobile"></span>
                <span class="line-break no-mobile"></span>
       
    </p>
  </div>
</div>
  
