<div class="heroDate">
  <h1>Dates</h1>
  <ul>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        October 21st, 2018<br />
        <strong><a href="https://www.papercall.io/serverlessdaysatx" target="_blank">CFP Opens</a></strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        November 2, 2018<br />
        <strong><a href="https://serverlessdays-atx-2019.eventbrite.com" target="_blank">Early Bird Tickets Go on Sale</a></strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        November 30th, 2018<br />
        <strong>CFP Closes</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        December 7th, 2018<br />
        <strong>Speaker Announcement</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        December 8th, 2018<br />
        <strong>Regular Tickets go on Sale</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        February 22nd, 2019<br />
        <strong>ServerlessDays ATX<br />@ Alamo Drafthouse South Lamar</strong>
      </div>
    </li>
  </ul>
</div>