<div class="heroDate">
  <h1>Dates</h1>
  <ul>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        <strong><a href="https://www.papercall.io/devopsdaysatl2019 " target="_blank">CFP open now through Febuary 28, 2019</a></strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        To be announced<br />
        <strong>Early Bird Tickets</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        To be announced<br />
        <strong>CFP Closes</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        To be announced<br />
        <strong>Speaker Announcement</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        To be announced<br />
        <strong>Regular Tickets go on Sale</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        April 9-10, 2019<br />
        <strong>ServerlessDays Atlanta<br />@ Georgia Aquarium</strong>
      </div>
    </li>
  </ul>
</div>
