<footer class="section footer">
    <div class="row">
        <div>
            <a class=" no-underline " href="mailto:austin@serverlessdays.io " title="Email us at austin@serverlessdays.io ">
                austin@serverlessdays.io
            </a>
        </div>

        <div>
            <a href="https://twitter.com/ATXServerless " title="ServerlessDays ATX on Twitter " class="no-underline verticalCenter "
                target="_blank ">
                @ATXServerless
            </a>
        </div>

        <div>
            <p>
                In collaboration with<br />
                <a href="https://www.meetup.com/ATX-Serverless/ " title="ATX Serverless Meetup ">ATX Serverless Meetup</a>
            </p>
        </div>
    </div>

    <div class="row mascotte">
        <div><img width="100" height="141" src="./Mascotte/Moth_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/Dino_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/unicorn_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/owl_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/Anteater_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/octo_mascot.svg"></div>
    </div>
</footer>