<footer class="section footer">
    <div class="row">
        <div>
            <a class=" no-underline " href="mailto:atlanta@serverlessdays.io " title="Email us at atlanta@serverlessdays.io ">
                atlanta@serverlessdays.io
            </a>
        </div>

        <div>
            <a href="https://twitter.com/DaysAtlanta " title="ServerlessDays Atlanta on Twitter " class="no-underline verticalCenter "
                target="_blank ">
                @DaysAtlanta
            </a>
        </div>

        <div>
            <p>
                In collaboration with DevOps Days & Map Camp<br />
                <a href="https://www.devopsdays.org/events/2019-atlanta/welcome/ " title="Atlanta DevOps Days ">Atlanta DevOps Days</a>
            </p>
        </div>
    </div>

    <div class="row mascotte">
        <div><img width="100" height="141" src="./Mascotte/Moth_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/Dino_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/unicorn_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/owl_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/Anteater_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/octo_mascot.svg"></div>
    </div>
</footer>
