<header>
    <div class="bg-white">
        <nav class="top-nav">

            <div class="logoContainer">

                <div class="logo">
                    
                        <img src="logos/serverlessDaysAtlanta.jpg" alt="ServerlessDays Logo" width="400" />
                 </div>

                <div class="dates bold">
                    <h2>April 9-10, 2019</h3>
                </div>

            </div>

            <div class="menu bold">
                <!--<a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/">About</a>-->
                <!--<a class="active no-mobile" href="/">Home</a>-->
                <a class="no-mobile" href="/#about">About</a>
                <a class="no-mobile" href="/#venue">Venue</a> 
                <a class="" href="/#agenda">Agenda</a>
                <a class="no-mobile" href="/#speakers">Speakers</a>
                <a class="highlight" href="/#tickets">Tickets</a>
                <!-- <a class="highlight" href="/#tickets">Tickets</a>-->
                <a class="" href="/#sponsors">Sponsors</a>
                <a class="no-mobile" href="/#coc">CoC</a>
            </div>

        </nav>
    </div>
</header>
