<div class="section">
  <div class="left">
    <div class="title">
      <h1>Speakers</h1>
    </div>
    <div class="image">
      <img class="pa4" width="130" src="./Mascotte/Dino_mascot.svg">
    </div>
  </div>

  <div class="text">
    <p>
      Do you have a Serverless story that you want to share with the <span class="line-break no-mobile"></span>
      community or Serverless project that you want to demo in <span class="line-break no-mobile"></span>
      front of a live conference audience? Please submit your idea via<span class="line-break no-mobile"></span>
      <a href="https://www.devopsdays.org/events/2019-atlanta/welcome/ ">Atlanta DevOps Days</a>.
    </p>
  </div>
</div>
  
