<div class="section">
  <div class="left">
    <div class="title">
      <h1>Sponsors</h1>
    </div>
    <div class="image">
      <img class="pa4" width="130" src="./Mascotte/Anteater_mascot.svg">
    </div>
  </div>

  <div class="text">
    <p>
      Interested in becoming a sponsor? Take a look at our <span class="line-break no-mobile"></span>
      Conference Prospectus page. You can see the different <span class="line-break no-mobile"></span>
      sponsorship levels and sign up with PayPal.
    </p>
    <h3><a class="link bold highlight" href="./prospectus.html" title="ServerlessDays ATX Prospectus">Conference Prospectus Page</a></h3>
  </div>
</div>