<div class="section">
  <div class="left">
    <div class="title">
      <h1>Sponsors</h1>
    </div>
    <div class="image">
      <img class="pa4" width="130" src="./Mascotte/Anteater_mascot.svg">
    </div>
  </div>

  <div class="text">
    <p>
      Interested in becoming a sponsor? Take a look at our <span class="line-break no-mobile"></span>
      Conference Prospectus page.   <span class="line-break no-mobile"></span>
   
    </p>
    <h3><a href="devopsdays_Atlanta_2019_prospectus.pdf">Atlanta DevOps Days, Map Camp & Serverless Days Prospectus</a></h3>
  </div>
</div>
