<div class="section" style="border-top: 0;">

  <div class="left">
    <div class="title">
      <h1>Venue  </h1>
    </div>

    
    <div class="image"><iframe src="GAaquarium300wide.PNG " width="400" height="285" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  </div>

  <div class="text">
    <p>
      The combined Devops Days, Map Camp & Serverless Days Conference <br> 
      venue is the world famous <a href="https://www.georgiaaquarium.org/ ">The Georgia Aquarium.</a>,<span class="line-break no-mobile"></span> <br>
      Located in the heart of downtown Atlanta near all major city attractions. <br>
      225 Baker Street NW Atlanta, GA 30313   404.581.4000 <span class="line-break no-mobile"></span><br>
     </p>

  </div>
</div>
