<div class="section" style="border-top: 0;">

  <div class="left">
    <div class="title">
      <h1>Venue</h1>
    </div>

    
    <div class="image"><iframe src="GAaquarium.PNG " width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  </div>

  <div class="text">
    <p>
      The Conference will be hosted at the <a href="https://www.georgiaaquarium.org/ ">The Georgia Aquarium.</a>,<span class="line-break no-mobile"></span>
      Located in the heart of downtown Atlanta near all major city attractions. <span class="line-break no-mobile"></span>
     </p>


  </div>
</div>
